<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%# The above code is the same as our form in app/views/articles/new.html.erb, except that all occurrences of @article have been replaced with article.  %>
<%# Because partials are shared code, it is best practice that  %>
<%# they do not depend on specific instance variables set by a controller action. Instead, we will pass the article to the partial as a local variable %>